---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="last-modified" content="{{ site.time }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="search-domain" value="{{ site.github.url | replace_first: 'http:', 'https:' }}">
    <link rel="stylesheet" type="text/css" href="./bootstrap.css" />
    <title>Good Enough Practices in Scientific Computing</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
